# Steam Web API key, if you want to use Steam authentication (https://steamcommunity.com/dev/apikey)
# -> replace "" with the key
set steam_webApiKey "9F40F916143E4DD8B79E305E1E3F51D1"

# License key for your server (https://keymaster.fivem.net)
sv_licenseKey 82u8xqlu3cz5oe0qhftkzxrxg9aomm5y