# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
exec keys.cfg
sv_scriptHookAllowed 0
#rcon_password ""
sets tags "default"
sv_hostname "FXServer, but unconfigured"
set temp_convar "hey world!"
#sv_master1 ""
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.fivem:1 group.admin # add the admin to the group
sv_endpointprivacy true
onesync_enabled true
sv_maxclients 32



# These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure fivem
ensure hardcap
ensure rconlog
ensure scoreboard

